@charset "utf-8";
/* CSS Document */
html
{
	width: 100%;
	height: 100%;
}
body
{
	width: 100%;
	height: 100%;
}
.NavBar_Web
{
	background: #FDB2C8;
}
#NavBar_icon
{
	background: #FDB2C8;
	height: 100%;
	border-style: none;
	cursor: pointer;
	
	font-family: Impact;
	font-size: 1.8em;
	
}
.NavBar_list
{
	font-family: Arial;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.8;
	
}

.NavBar_Mobile
{
	background: #FDB2C8;
	
}
#Mobile_List_Button
{
	background: #FB90C0;
	border-style: none;
}

#Web_dropdown_Button
{
	background: #FDB2C8;
	height: 100%;
	border-style: none;
	cursor: pointer;
	
}
#dropdown_menu
{
	background: #FFE4E3;
}
#Mobile_Topic_list1,#Mobile_Topic_list2
{
	color: #CC82B4; 
	height: 40px; 
	line-height: 40px;
	font-family: 微軟正黑體;
	font-weight: bold;
	word-spacing: 5px;
	
}

/*-------------section1----------------*/
#section1
{
	background: url("s1410422014/P2/資產 9new.png") 50% 50px no-repeat fixed;
	
	background-size: cover;
	margin: 0;
    padding: 20% 0 0 0;
	width: 100%;
	/*height: 150%;*/
	/*position: relative;*/
}

#Contain_1
{
	/*position: absolute;*/
	background: #FFFFF8;
	width: 100%;
	/*height: 60.5%;*/
	margin-top: 20%;
	/*top:40%;*/
}
#Container_1
{
	position: relative;
	width: 75%;
	padding-bottom: 5%;
	margin: 0 auto;
	
	/*background: #B16F6F;*/
}
#About_Me
{
	
	/*background: #9F4849;*/
	padding-bottom: 5%;
	padding-top: 12%;
	
}
#picture
{
	
	margin-top: 5%;
	margin-left: 5%;
	width: 40%;
	float: left;
	
}

#Introduction_Me
{
	width: 45%;
	
	margin: 7% 5% 5% 50%;
	/*background: #122756;*/
}
#Introduction_Me h1
{
	font-family: 微軟正黑體;
	font-weight: bold;
	color:  #73417D;
	font-size: 0.91em;
	
}
#Introduction_Me p
{
	font-family: Arial;
	font-weight: bold;
	color:  #89608B;
	font-size: 0.9em;
	line-height: 1.8;
	
}


#School
{
	width: 80%;
	/*background: #778332;*/
	margin:10% 10% 10% 10%; 
}

#School h
{
	font-family: Arial;
	font-weight: bold;
	color:  #73417D;
	font-size: 0.9em;
		
}
#School p
{
	font-family: Arial;
	font-weight: bold;
	color:  #89608B;
	font-size: 0.85em;
	line-height: 1.8;
}

#Skill
{
	/*background: #4D9CB0;*/
	padding-bottom: 5%;
	padding-top: 15%;
	
}
#SelectBar
{
	width: 100%;
	height: 10%;
	/*background: #973133;*/
	
}
/*--------------APP Design------------*/
#Application
{
	width: 29%;
	float: left;
	cursor: pointer;
	filter: hue-rotate(242deg);
}
#Design
{
	margin-left: 35%;
	width: 20%;
	cursor: pointer;
}

#Score_Design_APP
{
	width: 100%;
	padding-bottom: 15%;
	/*background: #466B98;*/
	/*position: relative;*/
}

#Design_Score
{
	width: 100%;
	/*background: #108E70;*/
	/*position: absolute;*/
	margin-top: 5%;
	
	display: none;
}
#APP_Score
{
	width: 100%;
	/*background: #7B4C8E;*/
	/*position: absolute;*/
	margin-top: 5%;
	opacity: 1;
}

.Score_bar
{
	/*background: #6E1B1C;*/
	height: 5%;
	width: 100%;
	position: relative;
	margin: 2.5% 0 2.5% 0;
}
.Subject
{	
	/*background: #B58D8E;*/
	width: 25%;
}
.Subject h
{
	font-family: 微軟正黑體;
	font-size: 0.9em;
	font-weight: bold;
	color: #89608B;
}

.Score_img
{
	position: absolute;
	width:  65%;
	right: 7%;
	top: 0;	
	
}
.score_math
{
	position: absolute;
	width: 5%;
	right: 0;
	top: 0;
	/*background: #AEC1E7;*/
	text-align: center;
}
.score_math h
{	
	font-family: 微軟正黑體;
	font-size: 0.9em;
	font-weight: bold;
	color: #CD7192;
}
/*--------------APP Design------------*/

/*------------section 2---------------*/
#section2
{	
	width: 100%;	
	height: auto;	
	padding: 15% 0;
	
	background: #FCF4E6;
	
}
#container_2
{
	width: 60%;
	margin: auto;
	
	height: auto;
	
	position: relative;
	/*background: #545770;*/
}
#People_2
{
	width: 40%;
	position: absolute;
	top:-26.5%;
	
	/*background: #B84D4F;*/
}

#myCarousel
{
	/*position: absolute;*/
	border-style: solid;
    border-width: 8px;
	border-radius: 4px;
	border-color: #FFA9BF;
	
}
.right
{
	
	
	
}
/*------------section 2---------------*/
/* CSS Document */
#section3
{
	background: #FFE9E6 url("s1410422014/P2/資產 21.png") 0 0 repeat fixed;
	background-size: contain;
	width: 100%;
	height: auto;
	
}
#container_3
{
	height: auto;
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 7%;
}
#Contain_3
{
	height: auto;
	width: 100%;
	
}
.top
{
	
	width: 100%;
	padding-bottom: 20%;
	height: 0;
	/*background: #AD5253;*/
}
#title3
{
	margin-left: 5%;
	
	font-family: Impact;
	color: #CE8AA4;
	font-size: 2em;
}

.MainContain
{
	width: 75%;
	
	height: auto;
	margin: 0 auto;
	/*background: #AB8AD9;*/
}

.LeftContain div
{
	width: 80%;
	text-align: justify;
	/*background: #E09E9F;*/
}
.LeftContain h ,.RightContain h,.character_Instration
{
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #876588;
	font-size: 1.1em;
	line-height: 1.8;
	word-spacing: 3px;
	margin-left: 10%;
}
.character_Instration{margin-left: 5%;}
.LeftContain p ,.RightContain p
{
	margin-top: 3%;
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #7F7795;
	font-size: 1em;
	line-height: 1.8;
	word-spacing: 3px;
	margin-left: 10%;
	
}
.RightContain
{
	/*background: #C07F7E;*/
}
.RightContain div
{
	width: 80%;
	text-align: justify;
}

.Puppet
{
	width: 70%;
	
	height:auto;
	margin: 5% auto;
	/*background: #A757A6;*/
	
}
#Puppet_grid
{
	display: grid;
  	grid-template-columns: auto auto auto auto auto auto;
  
  	grid-gap: 10px;
}
.one
{
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #CE8BA5;
	font-size: 1.3em;
	word-spacing: 3px;
	text-align: center;
	
	/*background: #D19798;*/
}
.two
{
	grid-column: 3 / 5;
	grid-row: 1 / 3;
	
	
}
.three
{
	grid-column: 5 / 7;
	grid-row: 1 / 3;
	background: #D19798;
}
.four
{
	grid-column: 1 / 3;
	grid-row: 2 / 5;
	background: #D19798;
}
.five
{
	grid-column: 3 / 5;
	grid-row: 3 / 5;
	background: #D19798;
}
.six
{
	grid-column: 5 / 7;
	grid-row: 3 / 5;
	background: #D19798;
}
.seven
{
	grid-column: 1 / 3;
	grid-row: 5 / 7;
	background: #D19798;
}
.eight
{
	grid-column: 3 / 5;
	grid-row: 5 / 7;
	background: #D19798;
}
.nine
{
	grid-column: 5 / 7;
	grid-row: 5 / 7;
	background: #D19798;
}

/*------------section 3---------------*/
/*------------section 4---------------*/
#section4
{
	background: #E1E7FF url("s1410422014/P2/資產 46.png") 0 0 repeat fixed;
	background-size: contain;
	width: 100%;
	height: auto;
}
#container_4
{
	height: auto;
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 7%;
}
#Contain_4
{
	height: auto;
	width: 100%;
	/*background: #FFFFFF;*/
}
.title4,.title5
{
	margin-left: 5%;
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #813260;
	font-size: 1.4em;
}
.title5, .title4, #title3, .title6
{
	margin-top: 5%;
	margin-bottom: 3%;
}
#myCarousela,#myCarousel5,.Type_Video,#myCarousel6
{
	margin: 3% auto 5% auto;
	width: 80%;
}
/*------------section 4---------------*/
/*------------section 5---------------*/
#section5
{
	background: #E1E7FF url("s1410422014/P2/資產 48.png") 0 0 repeat fixed;
	background-size: contain;
	width: 100%;
	height: auto;
}
#container_5
{
	height: auto;
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 7%;
}
#Contain_5
{
	height: auto;
	width: 100%;
	
}



/*------------section 5---------------*/
/*------------section 6---------------*/
#section6
{
	background: #E1E7FF url("s1410422014/P2/資產 24.png") 0 0 repeat fixed;
	background-size: contain;
	width: 100%;
	height: auto;
}
#container_6
{
	height: auto;
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 7%;
}
#Contain_6
{
	height: auto;
	width: 100%;
	
}

.title6 p1
{
	
	margin-left: 5%;
	font-family: Impact;
	font-weight: bold;
	color: #973D4B;
	font-size: 2em;
}
.title6 p2
{
	
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #973D4B;
	font-size: 0.9em;
	margin-left: 3%;
	
}



/*------------section 6---------------*/
/*------------  Footer ---------------*/
#Footer
{
	width: 100%;
	height: 100%;
	background: url("s1410422014/P2/資產 41new1.png")50% 0 no-repeat fixed;
	
	background-size: cover;
	background-position: center 0;
	position: relative;
}

#footer
{
	background: url("s1410422014/P2/資產 26.png")0 0 no-repeat fixed;
	background-size: cover;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
#footer h
{
	margin-left: 5%;
	font-family: Impact;
	word-spacing: 5px;
	color: #C487B2;
	font-size: 2vw;

	
}

/*------------section 6---------------*/

