@charset "utf-8";
/* CSS Document */
html
{
	width: 100%;
	height: 100%;
}
body
{
	width: 100%;
	height: 100%;
}
.NavBar_Web
{
	background: #FDB2C8;
}
#NavBar_icon
{
	background: #FDB2C8;
	height: 100%;
	border-style: none;
	cursor: pointer;
	
	font-family: Impact;
	font-size: 1.8em;
	
}
.NavBar_list
{
	font-family: Arial;
	font-weight: bold;
	font-size: 1.1em;
	line-height: 1.8;
	
}

.NavBar_Mobile
{
	background: #FDB2C8;
	
}
#Mobile_List_Button
{
	background: #FB90C0;
	border-style: none;
}

#TittleDropdownButton_1,#TittleDropdownButton_2
{
	background: #FDB2C8;
	height: 100%;
	border-style: none;
	cursor: pointer;
	
}
#TittleDropDownMenu_1,#TittleDropDownMenu_2
{
	background: #FFE4E3;
}
.ChineseFont,#TittleDropDownMenuListFont_1,#TittleDropDownMenuListFont_2,#TittleDropDownMenuListFont_3
{
	color: #CC82B4; 
	height: 40px; 
	line-height: 40px;
	font-family: 微軟正黑體;
	font-weight: bold;
	word-spacing: 5px;
	
}

/*-------------section1----------------*/
#section1
{
	background: url("s1410422014/P2/資產 9new.png") 50% 50px no-repeat fixed;
	
	background-size: cover;
	margin: 0;
    padding: 20% 0 0 0;
	width: 100%;
	/*height: 150%;*/
	/*position: relative;*/
}

#Contain_1
{
	/*position: absolute;*/
	background: #FFFFF8;
	width: 100%;
	/*height: 60.5%;*/
	margin-top: 20%;
	/*top:40%;*/
}
#Container_1
{
	position: relative;
	width: 75%;
	padding: 10% 0;
	margin: 0 auto;
	
	/*background: #B16F6F;*/
}
#About_Me
{	
	/*background: #9F4849;*/	
}
#picture
{
	width: 80%;	
}

#Introduction_Me
{
	width: 100%;
	
	
	/*background: #122756;*/
}
#Introduction_Me h1
{
	font-family: 微軟正黑體;
	font-weight: bold;
	color:  #662447;
	font-size: 1.3em;
	
}
#Introduction_Me p
{
	font-family: Arial;
	font-weight: bold;
	color:  #89608B;
	font-size: 1.2em;
	line-height: 1.8;
	
}


#School
{
	width: 100%;
	/*background: #778332;*/
	
}

#School h
{
	font-family: Arial;
	font-weight: bold;
	color:  #73417D;
	font-size: 1.3em;
		
}
#School p
{
	font-family: 微軟正黑體;
	font-weight: bold;
	color:  #89608B;
	font-size: 1.2em;
	line-height: 1.8;
}

#Skill
{
	/*background: #4D9CB0;*/

	
	
}
#SelectBar
{
	width: 100%;
	height: 10%;
	margin-top: 15%;
	/*background: #973133;*/
	
}
/*--------------APP Design------------*/
#Application
{
	width: 29%;
	float: left;
	cursor: pointer;
	filter: hue-rotate(242deg);
}
#Design
{
	margin-left: 35%;
	width: 20%;
	cursor: pointer;
}

#Score_Design_APP
{
	width: 100%;
	
	/*background: #466B98;*/
	/*position: relative;*/
}

#Design_Score
{
	width: 100%;
	/*background: #108E70;*/
	/*position: absolute;*/
	margin-top: 5%;
	
	display: none;
}
#APP_Score
{
	width: 100%;
	/*background: #7B4C8E;*/
	/*position: absolute;*/
	margin-top: 5%;
	opacity: 1;
}

.Score_bar
{
	/*background: #6E1B1C;*/
	height: 5%;
	width: 100%;
	position: relative;
	margin: 2.5% 0 2.5% 0;
}
.Subject
{	
	/*background: #B58D8E;*/
	width: 25%;
}
.Subject h
{
	font-family: 微軟正黑體;
	font-size: 1.1em;
	font-weight: bold;
	color: #89608B;
}

.Score_img
{
	position: absolute;
	width:  65%;
	right: 7%;
	top: 0;	
	
}
.score_math
{
	position: absolute;
	width: 5%;
	right: 0;
	top: 0;
	/*background: #AEC1E7;*/
	text-align: center;
}
.score_math h
{	
	font-family: 微軟正黑體;
	font-size: 0.9em;
	font-weight: bold;
	color: #CD7192;
}
.SkillLogo 
{
	width: 100%;
	height: auto;
	float: left;
	margin-bottom: 5%;
	

}
.SkillLogo img
{		
	float:left;
	margin-right:5%;
	margin-left: 5%;
}
/*--------------APP Design------------*/


/*------------section 2---------------*/
#section2
{	
	width: 100%;	
	height: auto;	
	padding: 15% 0;
	
	background: #FCF4E6;
	
}
#container_2
{
	width: 60%;
	margin: auto;
	
	height: auto;
	
	position: relative;
	/*background: #545770;*/
}
#People_2
{
	width: 40%;
	position: absolute;
	top:-26.5%;
	
	/*background: #B84D4F;*/
}

#myCarousel
{
	/*position: absolute;*/
	border-style: solid;
    border-width: 8px;
	border-radius: 4px;
	border-color: #FFA9BF;
	
}
.right
{
	
	
	
}
/*------------section 2---------------*/
#section4
{
	background: #E1E7FF;
	
}
#section3
{
	background: #FFE9E6;
	
	
}
#section7
{
	background: #E8D9FF;
	
}
#section6
{
	background: #F3DCF4;

}
#section8
{
	background: #D0F0FF;
	
}
#section5
{
	background: #C5ECED;
	
}
.Section
{
	background-size: cover;
	width: 100%;
	height: auto;
}

.Contain
{
	height: auto;
	width: 100%;
}
.Container
{
	height: auto;
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 7%;
}
.Peoples {

	z-index: 100;
}

.Peoples img
{
	
	width: 100%;
}
/*------------------------------*/
/* CSS Document */

.top
{
	width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
	height: 0;
	position: relative;
	/*background: #AD5253;*/
}
.topEnglishFont
{
	text-align:center;
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #876588;
	font-size: 3em;
	/* line-height: 1.8; */
	word-spacing: 3px;
}

.topChineseFont{

	text-align:center;
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #876588;
	font-size: 3em;
	/* line-height: 1.5; */
	word-spacing: 3px;
}

.MainContain
{
	width: 80%;
	
	height: auto;
	margin: 0 auto;
	/*background: #AB8AD9;*/
}



.LeftContain div
{
	width: 100%;
	text-align: justify;
	/*background: #E09E9F;*/
}
.LeftContain h ,.RightContain h,.character_Instration,.LeftContain h1
{
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #8b2c60;
	font-size: 1.3em;
	line-height: 1.8;
	word-spacing: 3px;
	
	
	
}
.LeftContain h1
{
	margin: 0 3%;
}
.LeftContain p ,.RightContain p
{
	margin-top: 3%;
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #7F7795;
	font-size: 1.2em;
	line-height: 1.8;
	word-spacing: 3px;	
	margin:0 3%; 
}
.RightContain a,.LeftContain a
{
	margin-top: 3%;
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #CF6E95;
	font-size: 1.1em;
	line-height: 1.8;
	word-spacing: 3px;	
	margin:0 0; 
	
}
#title3
{
	font-family: Impact;
	color: #CE8AA4;
	font-size: 1.5em;
}


.RightContain div
{
	width: 100%;
	text-align: justify;
}
/*.RightContain {background: #FFB1B2;}
.LeftContain {background: #B8F5FF;}*/
.Puppet
{
	width: 70%;
	
	height:auto;
	margin: 5% auto;
	/*background: #A757A6;*/
	
}


/*------------section 3---------------*/
/*------------section 4---------------*/


.title4,.title5
{
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #813260;
	font-size: 1.4em;
}
.title5, .title4, #title3, .title6,.title7,.title8
{
	margin-top: 5%;
	margin-bottom: 3%;
	width: 100%;
}
#myCarousela,#myCarousel5,.Type_Video,#myCarousel6,#myCarousel7
{
	margin: 3% auto 5% auto;
	width: 80%;
}
/*------------section 4---------------*/
/*------------section 5---------------*/

/*------------section 5---------------*/
/*------------section 6---------------*/

.title6 p1
{
	
	
	font-family: Impact;
	font-weight: bold;
	color: #973D4B;
	font-size: 2em;
}
.title6 p2
{
	
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #973D4B;
	font-size: 1.1em;
	margin-left: 3%;
	
}



/*------------section 7---------------*/


.title7 p1,.title8 p1
{
	font-family: Impact;
	font-weight: bold;
	color: #973D4B;
	font-size: 2em;
}
.title7 p2
{
	
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #973D4B;
	font-size: 1.1em;
	/* margin-left: 3%; */
	
}



/*------------section 7---------------*/
/*------------section 8---------------*/
.title8 p2
{
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #7a3440;
	font-size: 1.25em;
	margin: 0 3%;
	line-height: 1.8;

}



/*------------section 8---------------*/
/*------------  Footer ---------------*/
#Footer
{
	width: 100%;
	height: 100%;
	background: url("s1410422014/P2/資產 41new1.png")50% 0 no-repeat fixed;
	
	background-size: cover;
	background-position: center 0;
	position: relative;
}

#footer
{
	background: url("s1410422014/P2/資產 26.png")0 0 no-repeat fixed;
	background-size: cover;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}
#footer h
{
	margin-left: 5%;
	font-family: Impact;
	word-spacing: 5px;
	color: #C487B2;
	font-size: 2vw;

	
}

/*------------section 6---------------*/

