@charset "utf-8";
/* CSS Document */
html
{
	width: 100%;
	height: 100%;
}
body
{
	
	width: 100%;
	height: 100%;
	background: #FFE6E6 url('s1410422014/home/資產 2.png') ;
}
#Contain
{
	position: relative;
	margin: 0 auto 8% auto;
	width: 75%;
	padding-bottom: 8%;
	height: 0;
	
	min-width: 340px;
	
/*	background: #B09ED6;*/
	
}
#Profolio
{
	
	position: absolute;
	width: 20%;
	height: 100%;
	/*background: #904344;*/
}


#Who
{	
	position: absolute;
	height: 100%;
	width: 20%;
	right: 0;
	top: 10%;
	/*background: #3D2222;*/
}



#MapOut
{
	padding-bottom: 50%;
	
	width: 75%;
	height: 0;
	
	min-width: 340px;
	
	
	position: relative;
	margin: 0 auto 2% auto;	
	/*background: #9F2325;*/
}

#Map
{
	position: absolute;
	background: url('s1410422014/home/資產 56.png');
	background-size: 101% 101%;
	background-position: 5% 5%;
	border: 6px solid #FF99B7;
	border-radius: 30px;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	
}

.JumpPeople
{
	position: absolute;
	height: 30%;
	width: 13%;	
	/*background: #9F4243;
	opacity: 0.5;*/
}
.StartPoeple
{
	position: absolute;
	width: 70%;
	bottom: 35%;
	right: 0;
	
	
	animation: alpha 2s;
	
}
@keyframes alpha {
    from {opacity: 0;bottom: 13%;}
    to {opacity: 1;bottom: 35%;}
	
}

#ChImge1,#ChImge2,#ChImge3,#ChImge4{opacity: 0;}

.People1,.People2,.People3,.People4
{
	position: absolute;
	width: 70%;
	bottom: 23%;
	right: 0;
	
	
	animation: JumpPeopleAnimation 1s;

}

@keyframes JumpPeopleAnimation {
    from 
	{
		opacity: 0;
	 	bottom: 11%;
	}
    to 
	{
		opacity: 1;
		bottom: 23%;
	}
	
	
}

#Start_P
{
	
	bottom: 23%;
	left: 15%;	
	
}
#ch1
{
	
	bottom: 48%;
	left: 33%;
	
}
#ch2
{
	bottom: 26%;
	left: 46%;
	
}
#ch3
{
	
	bottom: 48%;
	left: 61%;
	
}
#ch4
{
	
	bottom: 26%;
	left: 74.5%;
	
}





