@charset "utf-8";
/* CSS Document */
html
{
	width: 100%;
	height: 100%;
}
body
{
	width: 100%;
	height: 100%;
}

#section1
{
	background: url("../s1410422014/P2/資產 9new.png") 50% 0 no-repeat fixed;
	background-size: cover;
	margin: 0;
    padding: 200px 0 260px 0;
	width: 100%;
	height: 150%;
	position: relative;
}
#Contain_1
{
	position: absolute;
	background: #FFFFF8;
	width: 100%;
	height: 55%;
	top:40%;
}
#Container_1
{
	position: relative;
	width: 75%;
	height: 100%;
	margin: 0 auto;
	
	/*background: #B16F6F;*/
}
#About_Me
{
	
	/*background: #9F4849;*/
	padding-bottom: 5%;
	padding-top: 12%;
	
}
#picture
{
	
	margin-top: 5%;
	margin-left: 5%;
	width: 40%;
	float: left;
	
}

#Introduction_Me
{
	width: 45%;
	
	margin: 7% 5% 5% 50%;
	/*background: #122756;*/
}
#Introduction_Me h1
{
	font-family: 微軟正黑體;
	font-weight: bold;
	color:  #73417D;
	font-size: 1.5vw;
	
}
#Introduction_Me p
{
	font-family: Arial;
	font-weight: bold;
	color:  #89608B;
	font-size: 1.3vw;
	line-height: 1.8;
	
}


#School
{
	width: 80%;
	/*background: #778332;*/
	margin:10% 10% 10% 10%; 
}

#School h
{
	font-family: Arial;
	font-weight: bold;
	color:  #73417D;
	font-size: 1.5vw;
		
}
#School p
{
	font-family: Arial;
	font-weight: bold;
	color:  #89608B;
	font-size: 1.3vw;
	line-height: 1.8;
}

#Skill
{
	/*background: #4D9CB0;*/
	padding-bottom: 5%;
	padding-top: 15%;
	
}
#SelectBar
{
	width: 100%;
	height: 10%;
	/*background: #973133;*/
	
}
#Application
{
	width: 30%;
	float: left;
}
#Design
{
	margin-left: 35%;
	width: 20%;
}

.Score_bar
{
	background: #6E1B1C;
	height: 5%;
	width: 100%;
	position: relative;
	margin: 2.5% 0 2.5% 0;
}
.Subject
{
	
	background: #B58D8E;
	width: 25%;
	
}
.Score_img
{
	position: absolute;
	width:  65%;
	right: 10%;
	top: 0;	
}
.score_math
{
	position: absolute;
	width:  10%;
	right: 0;
	top: 0;
	background: #AEC1E7;
	text-align: center;
	
}