@charset "utf-8";
/* CSS Document */
html
{
	width: 100%;
	height: 100%;
}
body
{
	width: 100%;
	height: 100%;
}

#section1
{
	background: url("s1410422014/P2/資產 9new.png") 50% 0 no-repeat fixed;
	background-size: cover;
	margin: 0;
    padding: 200px 0 260px 0;
	width: 100%;
	height: 150%;
	position: relative;
}
#Contain_1
{
	position: absolute;
	background: #FFFFF8;
	width: 100%;
	height: 55%;
	top:40%;
}
#Container_1
{
	position: relative;
	width: 75%;
	height: 100%;
	margin: 0 auto;
	
	/*background: #B16F6F;*/
}
#About_Me
{
	
	/*background: #9F4849;*/
	padding-bottom: 5%;
	padding-top: 12%;
	
}
#picture
{
	
	margin-top: 5%;
	margin-left: 5%;
	width: 40%;
	float: left;
	
}

#Introduction_Me
{
	width: 45%;
	
	margin: 7% 5% 5% 50%;
	/*background: #122756;*/
}
#Introduction_Me h1
{
	font-family: 微軟正黑體;
	font-weight: bold;
	color:  #73417D;
	font-size: 1.5vw;
	
}
#Introduction_Me p
{
	font-family: Arial;
	font-weight: bold;
	color:  #89608B;
	font-size: 1.3vw;
	line-height: 1.8;
	
}


#School
{
	width: 80%;
	/*background: #778332;*/
	margin:10% 10% 10% 10%; 
}

#School h
{
	font-family: Arial;
	font-weight: bold;
	color:  #73417D;
	font-size: 1.5vw;
		
}
#School p
{
	font-family: Arial;
	font-weight: bold;
	color:  #89608B;
	font-size: 1.3vw;
	line-height: 1.8;
}

#Skill
{
	/*background: #4D9CB0;*/
	padding-bottom: 5%;
	padding-top: 15%;
	
}
#SelectBar
{
	width: 100%;
	height: 10%;
	/*background: #973133;*/
	
}
/*--------------APP Design------------*/
#Application
{
	width: 29%;
	float: left;	
}
#Design
{
	margin-left: 35%;
	width: 20%;
}
#Application:hover,#Design:hover
{
	filter: hue-rotate(260deg);
}

#Score_Design_APP
{
	width: 100%;
	/*background: #466B98;*/
	position: relative;
}

#Design_Score
{
	width: 100%;
	/*background: #108E70;*/
	position: absolute;
	margin-top: 5%;
	opacity: 0;	
}
#APP_Score
{
	width: 100%;
	/*background: #7B4C8E;*/
	position: absolute;
	margin-top: 5%;
	opacity: 1;
}

.Score_bar
{
	/*background: #6E1B1C;*/
	height: 5%;
	width: 100%;
	position: relative;
	margin: 2.5% 0 2.5% 0;
}
.Subject
{	
	/*background: #B58D8E;*/
	width: 25%;
}
.Subject h
{
	font-family: 微軟正黑體;
	font-size: 1.2vw;
	font-weight: bold;
	color: #89608B;
}

.Score_img
{
	position: absolute;
	width:  65%;
	right: 10%;
	top: 0;	
}
.score_math
{
	position: absolute;
	width:  10%;
	right: 0;
	top: 0;
/*	background: #AEC1E7;*/
	text-align: center;
}
.score_math h
{	
	font-family: 微軟正黑體;
	font-size: 1.2vw;
	font-weight: bold;
	color: #CD7192;
}
/*--------------APP Design------------*/

/*------------section 2---------------*/
#section2
{	
	width: 100%;
	padding: 35%;
	height: 0;
	
	position: relative;
	background: #FCF4E6;
	
}
#container_2
{
	width: 60%;
	padding-bottom: 39%;
	height: 0;
	position: absolute;
	left: 20%;
	top: 13%;
/*	background: #545770;*/
}
#People_2
{
	width: 35%;
	position: absolute;
	left: 7%;
	top: 0;
	/*background: #B84D4F;*/
}
#illustration
{
	width: 100%;
	padding-bottom: 62%;
	height: 0;
	margin-top: 16%;
	/*background: #728F80;*/
	position: relative;
}
#myCarousel
{
	position: absolute;
	border-style: solid;
    border-width: 8px;
	border-radius: 4px;
	border-color: #FFA9BF;
}
/*------------section 2---------------*/
/*------------section 3---------------*/
#section3
{
	width: 100%;
	padding-bottom: 50%;
	background: #FFE9E6 url("s1410422014/P2/資產 21.png") 0 0 repeat fixed;
	background-size: contain;
	position: relative;
	height: 0;
	
}
#Contain_3
{
	width: 100%;
	padding-bottom: 40%;
	height: 0;
	position: absolute;
	top: 35%;
	/*background: #FFFFFF;*/
}
.Peoples
{
	width: 100%;
	position: absolute;
	top: 0;
}
#container_3
{
	width: 100%;
	padding-bottom: 50%;
	height: 0;
	position: absolute;
	top: 38.5%;
	background: #FFFFFF;	
}
.MainContain
{
	width: 75%;
	margin: 0 auto;
	/*background: #AB8AD9;*/
}
#title3
{
	margin-left: 5%;
	
	font-family: Impact;
	color: #CE8AA4;
	font-size: 3vw;
}

.LeftContain
{
	/*background: #3AB06C;*/
	
}
.LeftContain div
{
	width: 80%;
	text-align: justify;
	/*background: #E09E9F;*/
}
.LeftContain h ,.RightContain h
{
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #876588;
	font-size: 1.5vw;
	line-height: 1.8;
	word-spacing: 3px;
	margin-left: 10%;
}
.LeftContain p ,.RightContain p
{
	margin-top: 3%;
	font-family: 微軟正黑體;
	font-weight: bold;
	color: #7F7795;
	font-size: 1.2vw;
	line-height: 1.8;
	word-spacing: 3px;
	margin-left: 10%;
	
}
.RightContain
{
	/*background: #C07F7E;*/
}
.RightContain div
{
	width: 80%;
	text-align: justify;
}


/*------------section 3---------------*/



